<%= render 'shared/nav' %>
<h2>
  This is the index
</h2>
<%= @channel.title %>
<%= @channel.view_count %>
<%= @channel.video_count %>
<% @channel.subscribed_channels.each do |subs| %>
  <%= subs.title %>
<% end %>



