<!DOCTYPE html>
<html>
  <head>
    <title>MetaStreamTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render "shared/alerts" %>
  </head>

  <div class="container">
    <div class="row">
      <% if current_user %>
          Signed in as <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
          <%= link_to "Sign in with Google", "/users/auth/google_oauth2", id: "sign_in" %>
      <% end %>
    </div>
    <div>
      <%= yield %>
    </div>
    </div>
  </div>
</html>
